@font-face {
    font-family: astonpoliz;
    src: url(./fonts/Astonpoliz/Astonpoliz.otf),url(./fonts/Astonpoliz/Astonpoliz.ttf);
}
:root{
    --primary-color:#466365;
    --secondary-color:#B49A67;
    /* --blue:#17BEBB; */
    /* --blue:#FCEFEF; */
    --blue:#B5FED9;
    --red:#D62246;
}
*{
    text-decoration: none;
    list-style: none;

}

body{
    height: 100vh;
    padding: 0;
}
.container-fluid{
   height: 100%;
}
.one{
   height:100vh;
} 
.one .item{
   height: 25%;  
   position: relative;
   border: 1px solid #fff;
}
.item-0{
    background: var(--secondary-color);
}
.item-1{
    background: var(--primary-color);
}
.container-item-1 {
   position: absolute;
   width: 82px;
   height: 82px; 
   background: linear-gradient(360deg,var(--blue) 50%,transparent 50%),linear-gradient(transparent 50%,var(--blue) 50%);
   border-radius: 50%;
   animation: loader 1s infinite linear;    
}
.items-1-1{
height: 70px;
width: 70px;
position: absolute;
background: var(--secondary-color);
color: var(--primary-color);
border-radius: 50%;
animation: loader-1 2s infinite backwards;
}
.loading-l{
position: relative;
animation: loading 2s infinite backwards;
animation-delay: 1.2s;
}
.loading-o{
position: relative;
animation: loading 2s infinite backwards;
animation-delay: 1.3s;
}
.loading-a{
position: relative;
animation: loading 2s infinite backwards;
animation-delay: 1.4s;
}

@keyframes loading {
from{
   position: relative; 
}
to{
    position: relative;
    z-index: -1; 
   
}

}
@keyframes loader {
from{
   transform: rotate(0);
}
to{
   transform: rotate(360deg);
}

}

.container-2{
   width: 100%;
   height: 100%;
   margin-top: -25px;
}
.container-2 .item-2-1,.item-2-2{
   width:50px;
   height:50px;
}
.item-2-1{
   background: var(--red);
   animation: translate-1 5s infinite backwards;
}
.item-2-2{
   background:var(--blue);
   animation: translate-2 5s infinite backwards;
}

@keyframes translate-1 {
   
   0%{
       transform: translateY(100%);
   }
   25%{
          transform:translateX(100%) translateY(100%);
   }
   50%{
       transform: translateX(100%) translateY(0);
   }
   75%{
       transform: translateX(0px) translateY(0);
   }
   100%{
       transform: translateY(100%);   
   
    }
} 
@keyframes translate-2 {
   0%{
           transform: translate(0);
   
   }
   25%{
       transform: translateX(-100%);
   }
   50%{
          transform:translateX(-100%) translateY(100%);
   }
   75%{
       transform: translateX(0) translateY(100%)
       
   }
   100%{
       transform: translateX(0) translateY(0); 
   }
}

.container-3{
   width: 100%;
   height: fit-content;
   position: absolute;
   top:50%;
   bottom:50%;
   transform: translate(0%,-50%);
}

.container-3 .item-3-1 i{
       font-size:40px;
       background:transparent;
       color: var(--red); 
       animation: deplacer 3s infinite backwards;     
}
.container-3 .item-3-2{
   width: fit-content;
   height: 10px;
   background:var(--blue);
   border-radius: 20px;
   animation: loader-3 3s infinite backwards;
}


   @keyframes loader-3 {
       from{
               width: 0%;
       }
       to{
               width: 100%;
       }
   }
   @keyframes deplacer {
       0%{
           margin-left: 0px;
       }
       95%{
           margin-left: calc(100% - 50px);
       }
       
   }

   .container-4{
       width: 90%;
       height: 51px;
       position: relative;
       border-bottom: solid 1px #FCEFEF;
       border-radius: 50px;
       box-shadow: inset 5px 10px 10px var(--blue); 

   }
   .item-4-1{
       width: 50px;
       height: 50px;
       position: absolute; 
       background: linear-gradient(90deg,var(--red) 50%,#FCEFEF 50%);
       border: solid 1px black;
       border-radius: 50%;
       box-shadow: 0px 0px 5px;
       animation: loader-4 2s infinite alternate; 
   }
    @keyframes loader-4 {
       from{
           transform: rotate(0);
            left:0;
       }
       to{
           transform: rotate(360deg);
           left: calc(100% - 50px); 
       }
    }
   

    .container-5{
       border-radius: 50%;
       animation: loader-5 0.5s  infinite ;  
   
   }

   .item-5-1,.item-5-4{
       width: 40px;
       height: 20px;
       border-radius: 50%;
        margin: 5px; 
   }
   
   .item-5-2,.item-5-3{
       width: 20px;
       height: 20px;
       border-radius: 50%;

   }
   .item-5-1,.item-5-4{
       background: var(--red);
   }
   .item-5-2,.item-5-3{
       background: var(--blue);
   }

   @keyframes loader-5 {
       from{
           transform: rotate(0);
       }
       to{
           transform: rotate(360deg);
       }
   }

   .container-6{
       width: 100%;
       height: 100%;
   }
    
   .container-6 i{
       
       font-size: 40px;
       animation: star 1s infinite backwards;
   }
   .item-6-1 i{
       animation-delay: 0.2s;
   }
    .item-6-2 i{
   animation-delay: 0.4s;
   }
   .item-6-3 i{
   animation-delay: 0.6s;
   }
   .item-6-4 i{
       animation-delay: 0.8s;
   }
   
   @keyframes star {
       from{
           color:var(--red);
           transform: rotate(0);
       }
       to{
           color: #FCEFEF;
           transform: rotate(360deg);
       }
   }

   .container-7{
    width: 90%;
    height: 21px;
    position: relative;
    border-bottom: solid 1px #FCEFEF;
    border-radius: 50px;
    box-shadow: inset 5px 10px 10px var(--blue); 

}
.item-7-1{
    width: 40px;
    height: 20px;
    position: absolute; 
    background: var(--red);
    border: solid 1px transparent;
    border-radius: 50px;
    box-shadow: 0px 0px 5px;
    animation: loader-7 2s infinite backwards; 
}
 @keyframes loader-7 {
    from{
         left:0;
    }
    to{
        left: calc(100% - 40px);
    }
 }

 .container-8{
    width: 90%;
    height: 20px;
    position: relative;
    border: solid 1px var(--secondary-color);
    border-radius: 50px;
    
 }
 .item-8-1{
    width: 50px;
    height: 20px;
    position: absolute; 
    left: 0; 
    background:var(--blue);
    border-radius: 50px;
    animation: loader-8-1 5s linear infinite backwards ; 
 }
 .container-8 .item-8-2{
    position: relative;
 }
.item-8-2 .loading-l{
    position: relative;
    animation: loading-8-2 1s linear infinite backwards;
    animation-delay: 0.2s;
    }
    .item-8-2 .loading-o{
    position: relative;
    animation: loading-8-2 2s linear infinite backwards;
    animation-delay: 0.4s;
    }
    .item-8-2 .loading-a{
    position: relative;
    animation: loading-8-2 2s linear infinite backwards;
    animation-delay: 0.6s;
    }
    
    @keyframes loading-8-2 {
    from{
       position: relative; 
    }
    to{
        position: relative;
        z-index: -1; 
       
    }
    }   
 @keyframes loader-8-1 {
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
 }

.container-9{
    width: 70px;
    height: 70px;
    position: relative;
    border: solid 1px var(--blue);
    animation: loader 2s linear infinite backwards;
}
.item-9-1{
    width: 70px;
    height: 70px;
    position: absolute;
    border: solid 1px var(--red);
    transform: rotate(45deg);
}
.item-9-2{
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
    background: var(--blue);
}

.item-10-1,.item-10-2,.item-10-3{
    width: 50px;
    height: 50px;
    background: var(--blue);
    margin: 5px;
    transform: rotate(45deg);
    animation: loader-10 2s linear infinite alternate;
}
@keyframes loader-10 {
    from{
        transform: rotate(0);
        border-radius: 0;
    }
    to{
        transform: rotate(360deg);
        border-radius: 50%;
    }
}
.container-11{
    width: 200px;
    height: 200px;
    position: relative;
    bottom: -25%;
    border:solid 20px transparent;
    border-top: solid 20px #fff;
    border-radius: 50%;
    animation: loader-11 2s infinite backwards; 
    animation-delay: 1.4s;
    margin-bottom: -50px;
}
 .item-11-1{
    width: 150px;
    height: 150px;
    position: relative;
    border:solid 20px transparent;
    border-top: solid 20px var(--blue);
    border-radius: 50%;
    animation: loader-11 2s infinite backwards;
    animation-delay: 1s;
} 
.item-11-2{
    width: 100px;
    height: 100px;
    position: relative;
    border:solid 20px transparent;
    border-top: solid 20px var(--blue);
    border-radius: 50%;
    animation: loader-11 2s infinite backwards; 
    animation-delay: 0.8s;
}
.item-11-3{
    width: 50px;
    height: 50px;
    position: relative;
    border:solid 20px transparent;
    border-top: solid 20px var(--blue);
    border-radius: 50%;
    animation: loader-11 2s infinite backwards; 
    animation-delay: 0.4s;
}
@keyframes loader-11 {
    from{
        border-top-color:transparent ;
    }
    to{
        border-top-color:var(--blue) ;
    }
}


.item-12-0{
    width: 10px;
    height: 30px;
    background: #E2E2E2;
}
.item-12-1,.item-12-2,.item-12-3,.item-12-4{
    width: 40px;
    height: 60px;
    border: solid 3px #E2E2E2;
    position: relative;
}
.bat-1,.bat-2,.bat-3,.bat-4{
    width: 100%;
    height: 100%;
    background: var(--blue); 
}
.item-12-1 .bat-1{
    animation: loader-12 2s 0.2s infinite linear;
}
.item-12-2 .bat-2{
    animation: loader-12 2s 0.4s infinite linear;
}
.item-12-3 .bat-3{
    animation: loader-12 2s 0.6s infinite linear;
}
.item-12-4 .bat-4{ 
    animation: loader-12 2s 0.8s infinite linear;
}
@keyframes loader-12 {
    0%{
        background:var(--blue) ;
    }
    
    50%{
        background: transparent ;
    }
     100%{
        background: none;
    } 
}
.container-13{
    width: 100%;
    position: relative;
}
.item-13-1{
    width: 50px;
    height: 50px;
    position:absolute;
    left: 0;
    background: var(--red); 
    border-radius: 50%;  
    animation: loader-13-1 2s infinite linear;
}
.item-13-2{
    width: 50px;
    height:50px;
    position: absolute;
    right: 0;
    background:#fff;
    border-radius: 50%;
    animation: loader-13-2 2s infinite linear;

}

@keyframes loader-13-1 {
    from{
       left: 0;
    }
    to{
       left: calc(50% - 50px);
    }
}
@keyframes loader-13-2 {
    from{
        right: 0;
    }
    to{
       right: calc(50% - 50px);
    }
}

.container-14,.container-14-1{
    width: 80px;
    height: 80px;
    position: relative;
    border-radius: 50%;
    border: solid 1px var(--blue);
}
.container-14{
    animation: loader 2.5s linear infinite backwards;
}
.container-14-1{
    animation: loader 1s linear infinite reverse;
}
.item-14-1,.item-14-3{
    width: 7px;
    height: 80px;
    position: absolute;
    border: solid 1px var(--red);
}
.item-14-1{
    transform: rotate(45deg);
}
.item-14-3{
    z-index: -1;
    transform: rotate(-45deg);
}
.item-14-2{
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
    background: var(--blue);
}

.item-10-1,.item-10-2,.item-10-3{
    width: 50px;
    height: 50px;
    background: var(--blue);
    margin: 5px;
    transform: rotate(45deg);
    animation: loader-10 2s linear infinite alternate;
}
   footer{
       width: 100%;
       height: 150px;
       position: relative;
       bottom: 0px;
       background:var(--secondary-color) ;
       font-family: astonpoliz;
   }
   footer .reseauSociaux{
       width: 70%;
       margin-top: 20px;
   }
   
   footer .reseauSociaux ul i{
       font-size: 30px;
       color: #FCEFEF;
   }
   footer .reseauSociaux ul i:hover{
       color: #011638;
   }
   .text{
       text-align: center;
       font-size: 25px;
       color: #011638;
       margin-bottom: 10px;
   }
   @media only screen and (max-width:768px){
       .one{
           height: fit-content;
       }
      .one .item{
           height: 200px;
       }
   }
   