@font-face {
    font-family: astonpoliz;
    src: url(./fonts/Astonpoliz/Astonpoliz.otf),url(./fonts/Astonpoliz/Astonpoliz.ttf);
}
*{
    text-decoration: none;
    list-style: none;

}

body{
    height: 100vh;
    padding: 0;
}
.container-fluid{
   height: 100%;
}
.one{
   height:100vh;
} 
.one .item{
   height: 25%;  
   position: relative;
   border: 1px solid #fff;
}
.container-item-1 {
   position: absolute;
   width: 82px;
   height: 82px; 
   background: linear-gradient(360deg,#0496FF 50%,transparent 50%),linear-gradient(transparent 50%,#0496FF 50%);
   border-radius: 50%;
   animation: loader 1s infinite linear;    
}
.items-1{
height: 70px;
width: 70px;
position: absolute;
/* color: #FCEFEF; */
border-radius: 50%;
animation: loader-1 2s infinite backwards;
}
.loading-l{
position: relative;
animation: loading 2s infinite backwards;
animation-delay: 1.2s;
}
.loading-o{
position: relative;
animation: loading 2s infinite backwards;
animation-delay: 1.3s;
}
.loading-a{
position: relative;
animation: loading 2s infinite backwards;
animation-delay: 1.4s;
}

@keyframes loading {
from{
   position: relative; 
}
to{
    position: relative;
    z-index: -1; 
   
}

}
@keyframes loader {
from{
   transform: rotate(0);
}
to{
   transform: rotate(360deg);
}

}

.container-2{
   width: 100%;
   height: 100%;
   margin-top: -25px;
}
.container-2 .item-2-1,.item-2-2{
   width:50px;
   height:50px;
}
.item-2-1{
   background: #FF0000;
   animation: translate-1 5s infinite backwards;
}
.item-2-2{
   background: #0496FF;
   animation: translate-2 5s infinite backwards;
}

@keyframes translate-1 {
   
   0%{
       transform: translateY(100%);
   }
   25%{
          transform:translateX(100%) translateY(100%);
   }
   50%{
       transform: translateX(100%) translateY(0);
   }
   75%{
       transform: translateX(0px) translateY(0);
   }
   100%{
       transform: translateY(100%);   
   
    }
} 
@keyframes translate-2 {
   0%{
           transform: translate(0);
   
   }
   25%{
       transform: translateX(-100%);
   }
   50%{
          transform:translateX(-100%) translateY(100%);
   }
   75%{
       transform: translateX(0) translateY(100%)
       
   }
   100%{
       transform: translateX(0) translateY(0); 
   }
}

.container-3{
   width: 100%;
   height: fit-content;
   position: absolute;
   top:50%;
   bottom:50%;
   transform: translate(0%,-50%);
}

.container-3 .item-3-1 i{
       font-size:40px;
       background:rgb(255,193,7);
       color: #FF0000; 
       animation: deplacer 3s infinite backwards;     
}
.container-3 .item-3-2{
   width: fit-content;
   height: 10px;
   background: #0496FF;
   border-radius: 20px;
   animation: loader-3 3s infinite backwards;
}


   @keyframes loader-3 {
       from{
               width: 0%;
       }
       to{
               width: 100%;
       }
   }
   @keyframes deplacer {
       0%{
           margin-left: 0px;
       }
       95%{
           margin-left: calc(100% - 50px);
       }
       
   }

   .container-4{
       width: 90%;
       height: 51px;
       position: relative;
       border-bottom: solid 1px #FCEFEF;
       border-radius: 50px;
       box-shadow: inset 5px 10px 10px #0496FF; 

   }
   .item-4-1{
       width: 50px;
       height: 50px;
       position: absolute; 
       background: linear-gradient(90deg,#FF0000 50%,#FCEFEF 50%);
       border: solid 1px black;
       border-radius: 50%;
       box-shadow: 0px 0px 5px;
       animation: loader-4 2s infinite alternate; 
   }
    @keyframes loader-4 {
       from{
           transform: rotate(0);
            left:0;
       }
       to{
           transform: rotate(360deg);
           left: calc(100% - 50px);
       }
    }
   

    .container-5{
       border-radius: 50%;
       animation: loader-5 0.5s  infinite ;  
   
   }

   .item-5-1,.item-5-4{
       width: 40px;
       height: 20px;
       border-radius: 50%;
        margin: 5px; 
   }
   
   .item-5-2,.item-5-3{
       width: 20px;
       height: 20px;
       border-radius: 50%;

   }
   .item-5-1,.item-5-4{
       background: #FF0000;
   }
   .item-5-2,.item-5-3{
       background: #0496FF;
   }

   @keyframes loader-5 {
       from{
           transform: rotate(0);
       }
       to{
           transform: rotate(360deg);
       }
   }

   .container-6{
       width: 100%;
       height: 100%;
   }
    
   .container-6 i{
       
       font-size: 40px;
       animation: star 1s infinite backwards;
   }
   .item-6-1 i{
       animation-delay: 0.2s;
   }
    .item-6-2 i{
   animation-delay: 0.4s;
   }
   .item-6-3 i{
   animation-delay: 0.6s;
   }
   .item-6-4 i{
       animation-delay: 0.8s;
   }
   
   @keyframes star {
       from{
           color:#FF0000;
           transform: rotate(0);
       }
       to{
           color: #FCEFEF;
           transform: rotate(360deg);
       }
   }

   .container-7{
    width: 90%;
    height: 21px;
    position: relative;
    border-bottom: solid 1px #FCEFEF;
    border-radius: 50px;
    box-shadow: inset 5px 10px 10px #0496FF; 

}
.item-7-1{
    width: 40px;
    height: 20px;
    position: absolute; 
    background: #fff;
    border: solid 1px black;
    border-radius: 50px;
    box-shadow: 0px 0px 5px;
    animation: loader-4 2s infinite backwards; 
}
 @keyframes loader-4 {
    from{
        /* transform: rotate(0); */
         left:0;
    }
    to{
        /* transform: rotate(360deg); */
        left: calc(100% - 40px);
    }
 }

 .container-8{
    width: 90%;
    height: 20px;
    position: relative;
    border-radius: 50px;
 }
 .item-8-1{
    width: 50px;
    height: 20px;
    position: absolute; 
    left: 0; 
    /* z-index: 1; */
    background:#fff!important;
    border-radius: 50px;
    animation: loader-8-1 5s linear infinite backwards ; 
 }
 .container-8 .item-8-2{
    position: relative;
    /* z-index: 0; */
 }
.item-8-2 .loading-l{
    position: relative;
    animation: loading-8-2 1s linear infinite backwards;
    animation-delay: 0.2s;
    }
    .item-8-2 .loading-o{
    position: relative;
    animation: loading-8-2 2s linear infinite backwards;
    animation-delay: 0.4s;
    }
    .item-8-2 .loading-a{
    position: relative;
    animation: loading-8-2 2s linear infinite backwards;
    animation-delay: 0.6s;
    }
    
    @keyframes loading-8-2 {
    from{
       position: relative; 
    }
    to{
        position: relative;
        z-index: -1; 
       
    }
    }   
 @keyframes loader-8-1 {
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
 }

.container-9{
    width: 50px;
    height: 50px;
    position: relative;
    border: solid 1px #fff;
    animation: loader 2s linear infinite backwards;
}
.item-9-1{
    width: 50px;
    height: 50px;
    position: absolute;
    border: solid 1px #000;
    transform: rotate(45deg);
    /* animation: loader 2s infinite backwards; */
}
.item-9-2{
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
    background: #000;
}

.item-10-1,.item-10-2,.item-10-3{
    width: 50px;
    height: 50px;
    background: rgb(255,193,7);
    margin: 5px;
    transform: rotate(45deg);
    animation: loader-10 2s linear infinite alternate;
}
@keyframes loader-10 {
    from{
        transform: rotate(0);
        border-radius: 0;
    }
    to{
        transform: rotate(360deg);
        border-radius: 50%;
    }
}
.container-11{
    width: 200px;
    height: 200px;
    position: relative;
    bottom: -25%;
    border:solid 20px transparent;
    border-top: solid 20px #fff;
    border-radius: 50%;
    animation: loader-11 2s infinite backwards; 
    animation-delay: 1.4s;
}
 .item-11-1{
    width: 150px;
    height: 150px;
    position: relative;
    border:solid 20px transparent;
    border-top: solid 20px #fff;
    border-radius: 50%;
    animation: loader-11 2s infinite backwards;
    animation-delay: 1s;
} 
.item-11-2{
    width: 100px;
    height: 100px;
    position: relative;
    border:solid 20px transparent;
    border-top: solid 20px #fff;
    border-radius: 50%;
    animation: loader-11 2s infinite backwards; 
    animation-delay: 0.8s;
}
.item-11-3{
    width: 50px;
    height: 50px;
    position: relative;
    border:solid 20px transparent;
    border-top: solid 20px #fff;
    border-radius: 50%;
    animation: loader-11 2s infinite backwards; 
    animation-delay: 0.4s;
}
@keyframes loader-11 {
    from{
        border-top-color:transparent ;
    }
    to{
        border-top-color:#fff ;
    }
}
   footer{
       width: 100%;
       height: 150px;
       position: relative;
       bottom: 0px;
       font-family: astonpoliz;
       /* background:#50514F; */
   
   }
   footer .reseauSociaux{
       width: 70%;
       margin-top: 20px;
   }
   
   footer .reseauSociaux ul i{
       font-size: 30px;
       color: #FCEFEF;
   }
   footer .reseauSociaux ul i:hover{
       color: #FFA630;
   }
   .text{
       text-align: center;
       font-size: 25px;
       color: #FFA630;
       margin-bottom: 10px;
   }
   @media only screen and (max-width:768px){
       .one{
           height: fit-content;
       }
      .one .item{
           height: 200px;
       }
   }
   